<div class="row mx-auto">
    <div class="col-sm-12">
        <div class="footer fixed-bottom bg-light" style="text-align: center;">
            <h6 class="m-3">Created by <a href="https://github.com/DavidPalomeque"> David Palomeque </a> </h6>
        </div>
    </div>
</div>