<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00ba13;">
  {{#if user}}
  <a class="navbar-brand" href="/products">ECOMMERCE</a>
  {{else}}
  <a class="navbar-brand" href="/">ECOMMERCE</a>
  {{/if}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {{#if user}}
      <li class="nav-item active">
        <a class="nav-link" href="/products">PRODUCTS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/shopcart/{{user._id}}">SHOPCART</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/logout">LOGOUT</a>
      </li>
      {{else}}
      <li class="nav-item active">
        <a class="nav-link" href="/">GET STARTED</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/products">PRODUCTS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/signup">SIGN UP</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/users/login">LOGIN</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>